@using Day7_Lab1.Models;
@model IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (Product product in Model.Products)
    {
        <li>Product: @product.Name, Price: @product.Price</li>
    };
</ul>